@import url("./fontface.css");


body {
  font-family: IRANSans;
  background-color: rgb(249 250 251);
}

a,
span,
div,
p {
  font-family: IRANSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BIRANSans;
}
